*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
.imgcontainer{
    width: 50%;
    margin: auto auto;
    text-align: center;            
}
img{
    width: 100%;
    height: 350px;
}
ul{
    padding: 15px;
}
tr{
    /* border: 1px solid black; */
}
.th{
    background-color: #231313;
    border: 1px solid black;
    color: white;
}
.pd{
    padding: 15px;
}